<h1>Farmers' Markets</h1>

<% @markets.each do |market| %>
  <button class="js-marketShow" data-id="<%= market.id %>"><%= market.name %></button>

  <div id="market-<%= market.id %>">
    <h1 id="market_name_<%= market.id %>"></h1>

    <h3 id="market_location"></h3>
      <p id="street_address_1_<%= market.id %>"></p>
      <p id="street_address_2_<%= market.id %>"></p>
      <p id="city_state_zip_<%= market.id %>"></p>
    <h3 id="market_hours_<%= market.id %>"></h3>
  </div>

  <div id="market_vendors_<%= market.id %>">
  </div>
<% end %>
