<h1><%= @vendor.shop_name %></h1>

<h3>Markets:</h3>
<% @vendor.markets.each do |market| %>
  <p><b><%= market.name %></b></p>
  <p><%= market.operating_hours %></p>
  <% market.addresses.each do |address| %>
    <p><%= address.street_address_1 %> <%= address.street_address_2 %>
    <p><%= address.city %>, <%= address.state %> <%= address.zip %></p>
  <% end %>
  <p>------------------------</p>
<% end %>

<%= link_to "Inventory", vendor_items_path(@vendor) %>
