<h1><%= @vendor.shop_name %></h1>

<h3>Your Markets:</h3>
<% @vendor.markets.each do |market| %>
  <p><b><%= market.name %></b></p>
  <p><%= market.operating_hours %></p>
  <% market.addresses.each do |address| %>
    <p><%= address.street_address_1 %> <%= address.street_address_2 %>
    <p><%= address.city %>, <%= address.state %> <%= address.zip %></p>
  <% end %>
  <p>------------------------</p>
<% end %>

<button class="js-inventory" data-vendor="<%= @vendor.id %>">Inventory</button>
<!-- <p><%#= link_to "Inventory", vendor_items_path(@vendor) %></p> -->
<br>
<p>------------------------</p>
<h3>Vendor Information</h3>
<!-- <button class="js-vendorEdit" data-id="<%#= @vendor.id %>">Update Your Information (so others can find you)</button> -->
<div id="editVendor">
  <%= render 'layouts/errors' %>

  <%= form_for @vendor do |f| %>
    <%= f.label :shop_name %>
    <%= f.text_field :shop_name %>
    <br>

    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>

    <%= f.label "Phone Number" %>
    <%= f.text_field :contact %>
    <br>

    <%= f.label "Markets Where You Sell" %>
    <%= f.collection_select :market_ids, Market.all, :id, :name %>
    <br>

    <%= f.label "Are you an administrator?" %>
    <%= f.check_box :role %>
    <br>

    <%= f.submit "Update Vendor", :class => "js-vendorEdit" %>
  <% end %>
</div>
