<h1 id="js-shopName"><%= @vendor.shop_name %></h1>

<h3>Your Markets:</h3>
<% @vendor.markets.each do |market| %>
  <p><b><%= market.name %></b></p>
  <p><%= market.operating_hours %></p>
  <% market.addresses.each do |address| %>
    <p><%= address.street_address_1 %> <%= address.street_address_2 %>
    <p><%= address.city %>, <%= address.state %> <%= address.zip %></p>
  <% end %>
  <p>------------------------</p>
<% end %>

<button class="js-inventory" data-vendor="<%= @vendor.id %>">Inventory</button>
<div id="js-inventoryTable"></div>
<br>
<p>------------------------</p>
<h3>Public Information</h3>
<p id="js-vendorName"><%= @vendor.shop_name %></p>
<p id="js-description"><%= @vendor.description %></p>
<p id="js-contact"><%= @vendor.contact %></p>


<p>------------------------</p>
<button class="js-vendorEdit" data-id="<%= @vendor.id %>">Edit Your Public Information</button>
<div id="editVendor"></div>
