<%= form_for [@vendor, @item] do |f| %>

  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %>
        prohibited this article from being saved:
      </h2>

      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  Price (enter as 200 for $2.00) <%= f.text_field :price %>
  <br>

  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <br>

  <%= f.collection_select :category_id, Category.all, :id, :title %>
  <br>

  <%= f.hidden_field :vendor_id, value: @vendor.id %>

  <%= f.submit %>
<% end %>
