<h3>Inventory</h3>
<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Inventory</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#items}}
      <tr id="tr-{{id}}">
        <td>{{name}}</td>
        <td>{{category.title}}</td>
        <td>{{price}}</td>
        <td>{{inventory}}</td>
        <td><a href="/vendors/{{vendor.id}}/items/{{id}}/edit" id="js-edit" data-id="{{id}}" data-vendor="{{vendor.id}}">Edit Item</a></td>
        <td><a href="/vendors/{{vendor.id}}/items/{{id}}" data-method="delete">Delete Item</a>
        </td>
      </tr>
    {{/items}}
  </tbody>
</table>
