<h1><%= @market.name %></h1>

<h3>Location:</h3>
<% @market.addresses.each do |address| %>
  <p><%= address.street_address_1 %></p>
  <p><%= address.street_address_2 %></p>
  <p><%= address.city %>, <%= address.state %> <%= address.zip %></p>
<% end %>
<br>

<h3>Operating Hours:</h3>
<%= @market.operating_hours %>
<br></br>

<% if current_vendor && current_vendor.admin? %>
  <h3>Vendors:</h3>
  <% @vendors.each do |vendor| %>
    <p><%= link_to "#{vendor.shop_name}", market_vendor_detail_path(@market, vendor) %></p>
  <% end %>

  <div>
    <h3>Filter items:</h3>
    <%= form_tag("/markets/#{@market.id}", method: "get") do %>
      <%= select_tag "category", options_from_collection_for_select(@categories, "id", "title"), include_blank: true %>
      <%= submit_tag "Filter" %>
    <% end %>
  </div>
  <br></br>

  <%= link_to "Edit this Market", edit_market_path(@market) %>
  <%= link_to "Delete this Market", @market, method: "delete" %>

<% elsif current_vendor %>
  <h3>Vendors:</h3>
  <% @vendors.each do |vendor| %>
    <p><%= link_to "#{vendor.shop_name}", market_vendor_detail_path(@market, vendor) %></p>
  <% end %>

  <div>
    <h3>Filter items:</h3>
    <%= form_tag("/markets/#{@market.id}", method: "get") do %>
      <%= select_tag "category", options_from_collection_for_select(@categories, "id", "title"), include_blank: true %>
      <%= submit_tag "Filter" %>
    <% end %>
  </div>
  <br></br>

<% else %>
  <p><%= link_to "Sign Up", new_vendor_registration_path %> or <%= link_to "Log In", new_vendor_session_path %> to see the Vendors at this market</p>
<% end %>
