<h1><%= @market.name %></h1>

<h3>Location:</h3>
<% @market.addresses.each do |address| %>
  <p><%= address.street_address_1 %></p>
  <p><%= address.street_address_2 %></p>
  <p><%= address.city %>, <%= address.state %> <%= address.zip %></p>
<% end %>
<br>

<h3>Operating Hours:</h3>
<%= @market.operating_hours %>
<br></br>

<h3>Vendors:</h3>
<% @market.vendors.each do |vendor| %>
  <p><%= link_to "#{vendor.shop_name}", vendor_path(vendor) %></p>
<% end %>
<br></br>

<% if current_vendor %>
  <%= link_to "Edit this Market", edit_market_path(@market) %>
  <%= link_to "Delete this Market", @market, method: "delete" %>
<% end %>
